$primary: #2873e3;
$secondary: #8d9dab;
$success: #5fb072;
$info: #4bb8c9;
$warning: #dbbd62;
$danger: #ce6f79;
$light: #ffffff;
$dark: #000000;


@import '~bootstrap/scss/bootstrap';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}



body {
    background-color: $light;
    color: $dark;


    // div {
    //     background-color: $light;
    //     color: $dark;
    // }

    .navbar {
        background-color: $light;
        color: $dark;
        border-bottom: 1px solid rgb(218, 218, 218);
    }

    a {
        background-color: $light;
        color: $dark;
    }


    button {
        color: $dark;
    }


    footer {
        background-color: $light;
        color: $dark;
    }


    .btn-custom:hover {
        background-color: #f3f3f3;
        color: $dark;
    }


    .single-post {
        color: black;
        background-color: white;
    }



}



body.dark-theme {
    background-color: $dark;
    color: $light;


    // div {
    //     background-color: $dark;
    //     color: $light;
    // }

    .navbar {
        background-color: $dark;
        border-bottom: 1px solid rgb(52, 52, 52);

        input {
            background-color: black;
            border: 1px solid rgb(61, 61, 61);
            color: white;

            &::placeholder {
                color: rgb(61, 61, 61);
            }
        }
    }


    a {
        background-color: $dark;
        color: $light;
    }


    button {
        color: $light;
    }


    footer {
        background-color: $dark;
        color: $light;
    }


    .btn-custom:hover {
        background-color: #303030;
        color: $light;
    }

    .toggle-theme-button {
        background-color: black;
        color: #5FB072
    }


    .single-post {
        color: white;
        background-color: black;
        border: 1px solid rgb(61, 61, 61)
    }
}



footer {
    height: 30vh;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* .london-image {
    object-fit: cover;
    object-position: left;
} */



form {
    width: 23rem;
}






.li-custom:hover {
    cursor: pointer;
}




.bg-image-holder {
    height: 450px;
    background-image: url('../public/assets/images/loremipsumia.png');
    background-position: center;
    background-size: contain;
}



.posts-page-wrapper a {
    background: transparent;
}


.message {
    // border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.my-message {
    background-color: #007bff;
    color: white;
}

.friend-message {
    background-color: #f0f0f0;
}



.profile-page-ul {
    background-color: #f1f1f1;

    a {
        background-color: #f1f1f1;
    }

    .active-link {
        background-color: black;
        color: #24a6e7;
    }
}

.fa-edit-user-td {
    width: 60px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.fixed-alert {
    position: fixed;
    top: 86px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
