footer {
    height: 30vh;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}



/* .london-image {
    object-fit: cover;
    object-position: left;
} */



form {
    width: 23rem;
}



.btn-custom:hover {
    background-color: #f5f5f5;
}
